#functions
export(teqrOCtox,teqrOCact,teqrDG,desc)
export(print.teqrOCtox, print.teqrOCact, print.teqrDG)

##S3 methods
S3method(print,teqrOCtox)
S3method(print,teqrOCact)
S3method(print,teqrDG)
